/*
 * Estilos de tu proyecto
 */

 * {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

*:before,
*:after {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
  	margin: 0 auto;
  	font-size: 16px;
  	line-height: 1.71429;
  	background-color: #fff;
}

.menu1{
	float: right;
	box-sizing: border-box;
	width: 45%;
}

.menu2{
	float: left;
	width: 35%;
	font-size: 150%;
}

.option{
	float: right;
	padding: 0 0 0 3%;
}

a{
	color: white;
	text-decoration: none;
	padding: 0 1%;
	font-size: 90%;
	font-weight: bolder;
}

header{
	background: rgb(49, 69, 90);
	position: fixed;
	width: 100%;
	height: 10%;
}


/* section bootstrap */

#bootstrap{
	width: 100%;
	height: 150%;
	text-align: center;
	padding: 10% 0 5% 0;
	background: #56d3a9;
	color: white;
}

#title{
	font-weight: bolder;
	font-size: 400%;
}

#bootstrap .container p{
	font-size: 150%;
}

/*section portfolio*/

.fa-star{
	font-size: 30px;
}

.size{
	font-size: 230%;
	text-align: center;
	font-weight: bolder;
}

#portfolio{
	color: black;
	text-align: center;
}

.azul{
	color: rgb(49, 69, 90);
	/*text-align: center;*/
}

/*seccion about*/

#about-section{
	background: #56d3a9;
	width: 100%;
	height: 80%;
	text-align: center;
}

#about{
	color: white;
	text-align: center;
}

.blanco{
	color: white;
	/*text-align: center;*/
}

.container.about{
	width: 60%;
	padding: 7% 0;
}

.row.about{
	text-align: left;
	color: white;
}

.botoncito{
	text-align: center;
}

#botoncito{
	width: 25%;
	padding: 1.5% 0;
	color: white;
	background: #56d3a9;
	font-size: 110%;
	border-radius: 7px;
	border: 2px solid white;
}

/* contact section */

#contact-section{
	width: 100%;
	text-align: center;
}

.datos{
	width: 80%;
	padding: 1.5%;
	margin: 2px 0;
}

#send{
	width: 8%;
	padding: 1.3% 0;
	color: white;
	background: #56d3a9;
	font-size: 110%;
	border-radius: 7px;
	border: 2px solid #56d3a9;
	float: left;
	margin-left: 10%;
}

.final{
	margin-bottom: 17%;
}

.line{
	width: 80%;
	background: grey;
}

.cont-boton{
	width: 60%;
}




